h1, h2, p{
    color:white
}
/*body{
    background-image: url('torii.jpg'), url('RE30A.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 50%, 50%;
}
html, body{
    height: 100%;
}*/
body{
    background: linear-gradient(to right, #00ff15, #ff00dd);
}
html, body{
    height: 100%;
}
p{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-indent: 30px;
    line-height: 30px;
    /*white-space: nowrap;*/
    

    
}
a{
    text-decoration: underline;
}
